<!--= form_with(model: path, local: true) do |form| %>-->
<%= form_with(model: [@report, @moving_time, @path] , local: true) do |form| %>
  <% if @path.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@path.errors.count, "error") %> prohibited this path from being saved:</h2>

      <ul>
      <% @path.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :moving_time_id %>
    <%= form.text_field :moving_time_id, id: :path_moving_time_id %>
  </div>

  <div class="field">
    <%= form.label :dest_time %>
    <%= form.datetime_select :dest_time, id: :path_dest_time %>
  </div>

  <div class="field">
    <%= form.label :dept_time %>
    <%= form.datetime_select :dept_time, id: :path_dept_time %>
  </div>

  <div class="field">
    <%= form.label :point %>
    <%= form.text_field :point, id: :path_point %>
  </div>

  <div class="field">
    <%= form.label :travel_hour %>
    <%= form.number_field :travel_hour, id: :path_travel_hour %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
