<h1>Editing Path</h1>

<%= render 'form', path: @path %>

<!--%= link_to 'Show', @path %> |-->
<%= link_to 'Show', report_moving_time_path(@moving_time,@path) %> |
<!--%= link_to 'Back', paths_path %>-->
<%= link_to 'Back', report_moving_times(params[:moving_time_id]) %>
