<p id="notice"><%= notice %></p>

<h1>Paths</h1>

<table>
  <thead>
    <tr>
      <th>Moving time</th>
      <th>Dest time</th>
      <th>Dept time</th>
      <th>Point</th>
      <th>Moving time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paths.each do |path| %>
      <tr>
        <td><%= path.moving_time %></td>
        <td><%= path.dest_time %></td>
        <td><%= path.dept_time %></td>
        <td><%= path.point %></td>
        <td><%= path.moving_time %></td>
        <td><%= link_to 'Show', path %></td>
        <td><%= link_to 'Edit', edit_path_path(path) %></td>
        <td><%= link_to 'Destroy', path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Path', new_path_path %>
