<p id="notice"><%= notice %></p>

<p>
  <strong>Moving time:</strong>
  <%= @path.moving_time %>
</p>

<p>
  <strong>Dest time:</strong>
  <%= @path.dest_time %>
</p>

<p>
  <strong>Dept time:</strong>
  <%= @path.dept_time %>
</p>

<p>
  <strong>Point:</strong>
  <%= @path.point %>
</p>

<p>
  <strong>Travel hour:</strong>
  <%= @path.travel_hour %>
</p>

<!--%= link_to 'Edit', edit_path_path(@path) %> |-->
<%= link_to 'Edit', edit_report_moving_time_path_path(@moving_time,@path) %> |
<!--%= link_to 'Back', paths_path %>-->
<%= link_to 'Back', report_moving_time_url(params[:moving_time_id]) %>