<%= form_with(model: city_name, local: true) do |form| %>
  <% if city_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city_name.errors.count, "error") %> prohibited this city_name from being saved:</h2>

      <ul>
      <% city_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :city_name_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
