<p id="notice"><%= notice %></p>

<h1>City Names</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @city_names.each do |city_name| %>
      <tr>
        <td><%= city_name.name %></td>
        <td><%= link_to 'Show', city_name %></td>
        <td><%= link_to 'Edit', edit_city_name_path(city_name) %></td>
        <td><%= link_to 'Destroy', city_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City Name', new_city_name_path %>
