<!--%= form_with(model: daily_cost, local: true) do |form| %>-->
<!--%= form_with(model: [@report, @daily_cost] , local: true) do |form| %>-->
<div class="modal-dialog">
  <div class="modal-content">
    <%= form_with(model: [@report, @daily_cost] , remote: true) do |form| %>
      <% if @daily_cost.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(daily_cost.errors.count, "error") %> prohibited this daily_cost from being saved:</h2>
    
          <ul>
          <% @daily_cost.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= form.label :report_id,"レポートID" %>
        <%= form.text_field :report_id, id: :daily_cost_report_id %>
      </div>
      
      <div class="field">
        <%= form.label :expenses_type,"費目区分" %>
        <%= form.select :expenses_type, ["日当","日当割増","宿泊費","移動手当"],{}, {id: :daily_cost_expenses_type} %>
      </div>
    
      <div class="field">
        <%= form.label :daily_date,"日付" %>
        <%= form.date_field :daily_date, id: :daily_cost_daily_date %>
      </div>
    
      <div class="field">
        <%= form.label :work_type,"作業内容" %>
        <%= form.text_field :work_type, id: :daily_cost_work_type %>
      </div>
    
      <div class="field">
        <%= form.label :dept_time,"出発時間" %>
        <%= form.time_field :dept_time,{:step => 600, id: :daily_cost_dept_time} %>
      </div>
    
      <div class="field">
        <%= form.label :dest_ime,"到着時間" %>
        <%= form.time_field :dest_ime,{:step => 600, id: :daily_cost_dest_ime} %>
      </div>
    
      <div class="field">
        <%= form.label :city_name,"都市名" %>
        <!--%= form.text_field :city_name, id: :daily_cost_city_name %>-->
        <%= form.select :city_name, @city_name_lists, {include_blank: "指定都市以外"} , {id: :daily_cost_city_name} %>
      </div>
    
      <div class="field">
        <%= form.label :course,"経路" %>
        <%= form.text_field :course, id: :daily_cost_course %>
      </div>
    
      <div class="field">
        <%= form.label :travel_hour,"移動時間" %>
        <%= form.number_field :travel_hour, id: :daily_cost_travel_hour %>
      </div>
    
      <div class="field">
        <%= form.label :daily_cost,"金額" %>
        <%= form.number_field :daily_cost, id: :daily_cost_daily_cost %>
      </div>
    
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>