<h1>Editing Daily Cost</h1>

<%= render 'form', daily_cost: @daily_cost %>

<!--%= link_to 'Show', @daily_cost %> |-->
<%= link_to 'Show', report_daily_cost_path(@report,@daily_cost) %> |
<!--%= link_to 'Back', daily_costs_path %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>
