<p id="notice"><%= notice %></p>

<h1>Daily Costs</h1>

<table>
  <thead>
    <tr>
      <th>Report</th>
      <th>Daily date</th>
      <th>Expenses type</th>
      <th>Work type</th>
      <th>Dept time</th>
      <th>Dest ime</th>
      <th>City name</th>
      <th>Course</th>
      <th>Travel hour</th>
      <th>Daily cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_costs.each do |daily_cost| %>
      <tr>
        <td><%= daily_cost.report %></td>
        <td><%= daily_cost.daily_date %></td>
        <td><%= daily_cost.expenses_type %></td>
        <td><%= daily_cost.work_type %></td>
        <td><%= daily_cost.dept_time %></td>
        <td><%= daily_cost.dest_ime %></td>
        <td><%= daily_cost.city_name %></td>
        <td><%= daily_cost.course %></td>
        <td><%= daily_cost.travel_hour %></td>
        <td><%= daily_cost.daily_cost %></td>
        <td><%= link_to 'Show', daily_cost %></td>
        <td><%= link_to 'Edit', edit_daily_cost_path(daily_cost) %></td>
        <td><%= link_to 'Destroy', daily_cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daily Cost', new_daily_cost_path %>
