<p id="notice"><%= notice %></p>

<p>
  <strong>Report:</strong>
  <%= @daily_cost.report %>
</p>

<p>
  <strong>Daily date:</strong>
  <%= @daily_cost.daily_date %>
</p>

<p>
  <strong>Expenses type:</strong>
  <%= @daily_cost.expenses_type %>
</p>

<p>
  <strong>Work type:</strong>
  <%= @daily_cost.work_type %>
</p>

<p>
  <strong>Dept time:</strong>
  <%= @daily_cost.dept_time %>
</p>

<p>
  <strong>Dest ime:</strong>
  <%= @daily_cost.dest_ime %>
</p>

<p>
  <strong>City name:</strong>
  <%= @daily_cost.city_name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @daily_cost.course %>
</p>

<p>
  <strong>Travel hour:</strong>
  <%= @daily_cost.travel_hour %>
</p>

<p>
  <strong>Daily cost:</strong>
  <%= @daily_cost.daily_cost %>
</p>

<!--%= link_to 'Edit', edit_daily_cost_path(@daily_cost) %> |-->
<%= link_to 'Edit', edit_report_daily_cost_path(@report,@daily_cost) %> |
<!--%= link_to 'Back', daily_costs_path %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>
