<!--%= form_with(model: moving_time, local: true) do |form| %>-->
<%= form_with(model: [@report, @moving_time] , local: true) do |form| %>
  <% if @moving_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moving_time.errors.count, "error") %> prohibited this moving_time from being saved:</h2>

      <ul>
      <% @moving_time.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dept_date %>
    <%= form.datetime_select :dept_date, id: :moving_time_dept_date %>
  </div>

  <div class="field">
    <%= form.label :dest_date %>
    <%= form.datetime_select :dest_date, id: :moving_time_dest_date %>
  </div>

  <!--<div class="field">-->
  <!--  %= form.label :dept_place %>-->
  <!--  %= form.text_field :dept_place, id: :moving_time_dept_place %>-->
  <!--</div>-->
  
  <!--<div class="field">-->
  <!--  %= form.label :dest_price %>-->
  <!--  %= form.text_field :dest_price, id: :moving_time_dest_price %>-->
  <!--</div>-->
  
  <div class="field">
    <%= form.label :course %>
    <%= form.text_field :course, id: :moving_time_course, :size=>"60" %>
  </div>
  
  <div class="field">
    <%= form.label :route_type %>
    <!--%= form.text_field :route_type, id: :moving_time_route_type %>-->
    <%= form.select :route_type,["往路","復路","往復"], id: :moving_time_route_type %>
  </div>
  
  <div class="field">
    <%= form.label :holiday_type %>
    <%= form.text_field :holiday_type, id: :moving_time_holiday_type %>
  </div>

  <div class="field">
    <%= form.label :moving_time %>
    <%= form.number_field :moving_time, id: :moving_time_moving_time %>
  </div>
  
  <div class="field">
    <%= form.label :allowance %>
    <%= form.number_field :allowance, id: :moving_time_allowance %>
  </div>
  
  <div class="field">
    <%= form.label :memo %>
    <%= form.text_field :memo, id: :moving_time_memo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
$(function () {
  $("#moving_time_moving_time").change( function() {
      if ($("#moving_time_holiday_type").val() == "休日") {
        if ($("#moving_time_moving_time").val() <= "240") {
            // テキストボックスへ値を設定します
            $("#moving_time_allowance").val("2000");
          }else if($("#moving_time_moving_time").val() <= "480"){
            $("#moving_time_allowance").val("4000");
          }else{
            $("#moving_time_allowance").val("6000");
          }
      }
  });
});
</script>
