<h1>Editing Moving Time</h1>

<%= render 'form', moving_time: @moving_time %>

<!--%= link_to 'Show', @moving_time %> |-->
<%= link_to 'Show', report_moving_time_path(@report,@moving_time) %> |
<!--%= link_to 'Back', report_moving_times_path %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>
