<p id="notice"><%= notice %></p>

<h1>Moving Times</h1>

<table>
  <thead>
    <tr>
      <th>Dept date</th>
      <th>Dest date</th>
      <th>dept_Place</th>
      <th>dest_Place</th>
      <th>Moving time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moving_times.each do |moving_time| %>
      <tr>
        <td><%= moving_time.dept_date %></td>
        <td><%= moving_time.dest_date %></td>
        <td><%= moving_time.dept_place %></td>
        <td><%= moving_time.dest_price %></td>
        <td><%= moving_time.moving_time %></td>
        <td><%= link_to 'Show', report_moving_time %></td>
        <td><%= link_to 'Edit', edit_report_moving_time_path(moving_time) %></td>
        <td><%= link_to 'Destroy', moving_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moving Time',new_report_moving_time_path %>
