<p id="notice"><%= notice %></p>

<p>
  <strong>Dept date:</strong>
  <%= @moving_time.dept_date %>
</p>

<p>
  <strong>Dest date:</strong>
  <%= @moving_time.dest_date %>
</p>

<p>
  <strong>dept_Place:</strong>
  <%= @moving_time.dept_place %>
</p>

<p>
  <strong>dest_Place:</strong>
  <%= @moving_time.dest_price %>
</p>

<p>
  <strong>Moving time:</strong>
  <%= @moving_time.moving_time %>
</p>

<!--%= link_to 'Edit', edit_moving_time_path(@moving_time) %> |-->
<%= link_to 'Edit', edit_report_moving_time_path(@report,@moving_time) %> |
<!--%= link_to 'Back', report_moving_times_path %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>
