<!--%= form_with(model: additional, local: true) do |form| %>-->
<%= form_with(model: [@report, @additional] , local: true) do |form| %>
  <% if @additional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@additional.errors.count, "error") %> prohibited this additional from being saved:</h2>

      <ul>
      <% @additional.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :report_id %>
    <%= form.text_field :report_id, id: :additional_report_id %>
  </div>

  <div class="field">
    <%= form.label :additional_date %>
    <%= form.date_select :additional_date, id: :additional_additional_date %>
  </div>

  <div class="field">
    <%= form.label :moving_type %>
    <%= form.text_field :moving_type, id: :additional_moving_type %>
  </div>

  <div class="field">
    <%= form.label :dest_time %>
    <%= form.time_select :dest_time, id: :additional_dest_time %>
  </div>

  <div class="field">
    <%= form.label :dept_time %>
    <%= form.time_select :dept_time, id: :additional_dept_time %>
  </div>

  <div class="field">
    <%= form.label :additional %>
    <%= form.number_field :additional, id: :additional_additional %>
  </div>

  <div class="field">
    <%= form.label :vehicle_night %>
    <%= form.number_field :vehicle_night, id: :additional_vehicle_night %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
