<h1>Editing Additional</h1>

<%= render 'form', additional: @additional %>

<!--%= link_to 'Show', @additional %> |-->
<%= link_to 'Show', report_additional_path(@report,@additional) %> |
<!--%= link_to 'Back', additionals_path %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>
