<p id="notice"><%= notice %></p>

<h1>Additionals</h1>

<table>
  <thead>
    <tr>
      <th>Report</th>
      <th>Additional date</th>
      <th>Moving type</th>
      <th>Dest time</th>
      <th>Dept time</th>
      <th>Additional</th>
      <th>Vehicle night</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @additionals.each do |additional| %>
      <tr>
        <td><%= additional.report %></td>
        <td><%= additional.additional_date %></td>
        <td><%= additional.moving_type %></td>
        <td><%= additional.dest_time %></td>
        <td><%= additional.dept_time %></td>
        <td><%= additional.additional %></td>
        <td><%= additional.vehicle_night %></td>
        <td><%= link_to 'Show', additional %></td>
        <td><%= link_to 'Edit', edit_additional_path(additional) %></td>
        <td><%= link_to 'Destroy', additional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Additional', new_additional_path %>
