<p id="notice"><%= notice %></p>

<p>
  <strong>Report:</strong>
  <%= @additional.report %>
</p>

<p>
  <strong>Additional date:</strong>
  <%= @additional.additional_date %>
</p>

<p>
  <strong>Moving type:</strong>
  <%= @additional.moving_type %>
</p>

<p>
  <strong>Dest time:</strong>
  <%= @additional.dest_time %>
</p>

<p>
  <strong>Dept time:</strong>
  <%= @additional.dept_time %>
</p>

<p>
  <strong>Additional:</strong>
  <%= @additional.additional %>
</p>

<p>
  <strong>Vehicle night:</strong>
  <%= @additional.vehicle_night %>
</p>

<!--%= link_to 'Edit', edit_additional_path(@additional) %> |-->
<%= link_to 'Edit', edit_report_additional_path(@report,@additional) %> |
<!--%= link_to 'Back', additionals_path %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>