<%= form_with(model: [@report, @other] , local: true) do |form| %>

  <% if @other.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@other.errors.count, "error") %> prohibited this other from being saved:</h2>

      <ul>
      <% @other.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :report_id %>
    <%= form.text_field  :report_id, id: :other_report_id %>
  </div>

  <div class="field">
    <%= form.label :payment_date %>
    <%= form.date_select :payment_date, id: :other_payment_date %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :other_content %>
  </div>

  <div class="field">
    <%= form.label :other_money %>
    <%= form.number_field :other_money, id: :other_other_money %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
