<h1>Editing Other</h1>

<%= render 'form', other: @other %>

<!-- link_to 'Show', @other %> |-->
<%= link_to 'Show', report_other_path(@report,@other) %> |
<!-- link_to 'Back', others_path %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>

<!-- link_to '精算書に戻る', report_url(@other.report) %>-->
