<p id="notice"><%= notice %></p>

<h1>Others</h1>

<table>
  <thead>
    <tr>
      <th>Report</th>
      <th>Payment date</th>
      <th>Content</th>
      <th>Other money</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @others.each do |other| %>
      <tr>
        <td><%= other.report %></td>
        <td><%= other.payment_date %></td>
        <td><%= other.content %></td>
        <td><%= other.other_money %></td>
        <!--<td>%= link_to 'Show', other %></td>-->
        <td><%= link_to 'Show', report_other_path(@report,other) %></td>
        <!--<td>%= link_to 'Edit', edit_other_path(other) %></td>-->
        <td><%= link_to 'Edit', edit_report_other_path(@report,other) %></td>
        <!--<td>%= link_to 'Destroy', other, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        <td><%= link_to 'Destroy', report_other_path(@report,other), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- link_to 'New Other', new_other_path %>-->
<%= link_to 'New Other', new_report_other_path %>