<h1>New Other</h1>

<%= render 'form', other: @other %>

<!-- link_to 'Back', others_path %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>

<!-- link_to '精算書に戻る', report_url(params[:format]) %>-->
