<p id="notice"><%= notice %></p>

<p>
  <strong>Report:</strong>
  <%= @other.report %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @other.payment_date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @other.content %>
</p>

<p>
  <strong>Other money:</strong>
  <%= @other.other_money %>
</p>

<!-- link_to 'Edit', edit_other_path(@other) %> |-->
<%= link_to 'Edit', edit_report_other_path(@report,@other) %>
<!-- link_to 'Back', others_path %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>

<!-- link_to '精算書に戻る', report_url(@other.report) %>-->
