<%= form_with(model: access_type, local: true) do |form| %>
  <% if access_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(access_type.errors.count, "error") %> prohibited this access_type from being saved:</h2>

      <ul>
      <% access_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :moving_type %>
    <%= form.text_field :moving_type, id: :access_type_moving_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
