<p id="notice"><%= notice %></p>

<h1>Access Types</h1>

<table>
  <thead>
    <tr>
      <th>Moving type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @access_types.each do |access_type| %>
      <tr>
        <td><%= access_type.moving_type %></td>
        <td><%= link_to 'Show', access_type %></td>
        <td><%= link_to 'Edit', edit_access_type_path(access_type) %></td>
        <td><%= link_to 'Destroy', access_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Access Type', new_access_type_path %>
