<p id="notice"><%= notice %></p>

<p>
  <strong>Moving type:</strong>
  <%= @access_type.moving_type %>
</p>

<%= link_to 'Edit', edit_access_type_path(@access_type) %> |
<%= link_to 'Back', access_types_path %>
