<!-- form_with(model: accommodation, local: true) do |form| %>-->
<%= form_with(model: [@report, @accommodation] , local: true) do |form| %>
  <% if @accommodation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accommodation.errors.count, "error") %> prohibited this accommodation from being saved:</h2>

      <ul>
      <% @accommodation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :report_id %>
    <%= form.text_field :report_id, id: :accommodation_report_id %>
  </div>

  <div class="field">
    <%= form.label :checkin %>
    <%= form.date_select :checkin, id: :accommodation_checkin %>
  </div>

  <div class="field">
    <%= form.label :checkout %>
    <%= form.date_select :checkout, id: :accommodation_checkout %>
  </div>

  <div class="field">
    <%= form.label :city_name %>
    <!-- form.text_field :city_name, id: :accommodation_city_name %>-->
    <%= form.select :city_name, @city_name_lists, {include_blank: "指定都市以外"} , {id: :accommodation_city_name} %>
  </div>

  <div class="field">
    <%= form.label :accommodation %>
    <!--%= form.number_field :accommodation, id: :accommodation_accommodation %>-->
    <%= form.text_field :accommodation, :placeholder => "宿泊費:#{@grade_list_a}、船車中泊：#{@grade_list_v}" %>
  </div>

  <div class="field">
    <%= form.label :add_money %>
    <%= form.number_field :add_money, id: :accommodation_add_money,readonly: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
$(function () {
  $("#accommodation_city_name").change( function() {
          if ($.inArray($("#accommodation_city_name").val(), <%= @city_name_lists_j %>) != -1) {
        // テキストボックスへ値を設定します
        $("#accommodation_add_money").val("<%= @grade_list_a + 1000 %>");
      }else{
        $("#accommodation_add_money").val("<%= @grade_list_a %>");
      }
  });
});
</script>
