<h1>Editing Accommodation</h1>

<%= render 'form', accommodation: @accommodation %>

<!-- link_to 'Show', @accommodation %> |-->
<%= link_to 'Show', report_accommodation_path(@report,@accommodation) %> |
<!--= link_to 'Back', accommodations_path %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>
