<p id="notice"><%= notice %></p>

<h1>Accommodations</h1>

<table>
  <thead>
    <tr>
      <th>Report</th>
      <th>Checkin</th>
      <th>Checkout</th>
      <th>City name</th>
      <th>Accommodation</th>
      <th>Add money</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accommodations.each do |accommodation| %>
      <tr>
        <td><%= accommodation.report %></td>
        <td><%= accommodation.checkin %></td>
        <td><%= accommodation.checkout %></td>
        <td><%= accommodation.city_name %></td>
        <td><%= accommodation.accommodation %></td>
        <td><%= accommodation.add_money %></td>
        <td><%= link_to 'Show', accommodation %></td>
        <td><%= link_to 'Edit', edit_accommodation_path(accommodation) %></td>
        <td><%= link_to 'Destroy', accommodation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accommodation', new_accommodation_path %>
