<p id="notice"><%= notice %></p>

<p>
  <strong>Report:</strong>
  <%= @accommodation.report %>
</p>

<p>
  <strong>Checkin:</strong>
  <%= @accommodation.checkin %>
</p>

<p>
  <strong>Checkout:</strong>
  <%= @accommodation.checkout %>
</p>

<p>
  <strong>City name:</strong>
  <%= @accommodation.city_name %>
</p>

<p>
  <strong>Accommodation:</strong>
  <%= @accommodation.accommodation %>
</p>

<p>
  <strong>Add money:</strong>
  <%= @accommodation.add_money %>
</p>

<!-- link_to 'Edit', edit_accommodation_path(@accommodation) %> |-->
<%= link_to 'Edit', edit_report_accommodation_path(@report,@accommodation) %> |
<!-- link_to 'Back', accommodations_path %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>
