<%= form_with(model: fixed, local: true) do |form| %>
  <% if fixed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fixed.errors.count, "error") %> prohibited this fixed from being saved:</h2>

      <ul>
      <% fixed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fixed_type %>
    <%= form.text_field :fixed_type, id: :fixed_fixed_type %>
  </div>

  <div class="field">
    <%= form.label :fixed %>
    <%= form.number_field :fixed, id: :fixed_fixed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
