<p id="notice"><%= notice %></p>

<h1>Fixeds</h1>

<table>
  <thead>
    <tr>
      <th>Fixed type</th>
      <th>Fixed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fixeds.each do |fixed| %>
      <tr>
        <td><%= fixed.fixed_type %></td>
        <td><%= fixed.fixed %></td>
        <td><%= link_to 'Show', fixed %></td>
        <td><%= link_to 'Edit', edit_fixed_path(fixed) %></td>
        <td><%= link_to 'Destroy', fixed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fixed', new_fixed_path %>
