<p id="notice"><%= notice %></p>

<p>
  <strong>Fixed type:</strong>
  <%= @fixed.fixed_type %>
</p>

<p>
  <strong>Fixed:</strong>
  <%= @fixed.fixed %>
</p>

<%= link_to 'Edit', edit_fixed_path(@fixed) %> |
<%= link_to 'Back', fixeds_path %>
