<!--%= form_with(model: user, local: true) do |form| %>-->
<div class="modal-dialog">
  <div class="modal-content">
    <%= form_with(model: user, remote: true) do |form| %>
      <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
    
          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= form.label :emp_name %>
        <%= form.text_field :emp_name, id: :user_emp_name %>
      </div>
      
      <div class="field">
        <%= form.label :grade %>
        <%= form.text_field :grade, id: :user_grade %>
      </div>
    
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
