<tbody id="list">
 <% users.each do |user| %>
  <tr>
    <td><%= user.emp_name %></td>
    <td><%= user.grade %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user), remote: true, class: "btn btn-lg btn-primary"%></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
 <% end %>
</tbody>