<p id="notice"><%= notice %></p>

<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>Emp name</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%= render 'table', users: @users %>
  
</table>


<br>

<!--%= link_to 'New User', new_user_path %>-->
<%= link_to 'New User', new_user_path, remote: true, class: "btn btn-lg btn-primary" %>


<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>