<p id="notice"><%= notice %></p>

<p>
  <strong>Emp name:</strong>
  <%= @user.emp_name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @user.grade %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
