<!-- form_with(model: daily_allowance, local: true) do |form| %>-->
<%= form_with(model: [@report, @daily_allowance] , local: true) do |form| %>
  <% if @daily_allowance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_allowance.errors.count, "error") %> prohibited this daily_allowance from being saved:</h2>

      <ul>
      <% @daily_allowance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">-->
  <!--  %= form.label :report_id %>-->
  <!--  %= form.text_field :report_id, id: :daily_allowance_report_id %>-->
  <!--</div>-->

  <div class="field">
    <%= form.label :trip_date %>
    <%= form.date_field :trip_date, id: :daily_allowance_trip_date %>
  </div>

  <!--<div class="field">-->
  <!--  %= form.label :holiday %>-->
  <!--  %= form.text_field :holiday, id: :daily_allowance_holiday %>-->
  <!--</div>-->
  
  <div class="field">
    <%= form.label :moving_type %>
    <%= form.text_field :moving_type, id: :daily_allowance_moving_type %>
  </div>
  
  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_select :start_time, id: :daily_allowance_start_time %>
  </div>
  
  <div class="field">
    <%= form.label :finish_time %>
    <%= form.time_select :finish_time, id: :daily_allowance_finish_time %>
  </div>

  <div class="field">
    <%= form.label :fixed %>
    <!--= form.number_field :fixed, id: :daily_allowance_fixed %>-->
    <!--%= form.select :daily_allowance, @grade_list %>-->
    <%= form.text_field :fixed, :placeholder => "日当:#{@grade_list_d}、100km未満の日帰り日当は半額" %>
  </div>

  <div class="field">
    <%= form.label :fixed_over %>
    <%= form.number_field :fixed_over, id: :daily_allowance_fixed_over %>
    <p>日当割増算出</p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<div>
  <!--%= debug @daily_allowance %>-->
</div>

<script>
$(function () {
  $("#daily_allowance_holiday").change( function() {
      if $("#daily_allowance_holiday").val() = '休日' {
        // テキストボックスへ値を設定します
        $("#daily_allowance_fixed_over").val("1000");
      }else{
        $("#daily_allowance_fixed_over").val("0");
      }
  });
});
</script>

<script>
$(function () {
  $("#daily_allowance_trip_date").change( function() {
      var city = $("#accommodation_city_name").val()
          if ($.inArray($("#accommodation_city_name").val(), <%= @city_name_lists_j %>) != -1) {
        // テキストボックスへ値を設定します
        $("#accommodation_add_money").val("1000");
      }else{
        $("#accommodation_add_money").val("0");
      }
  });
});
</script>
