<h1>Editing Daily Allowance</h1>

<%= render 'form', daily_allowance: @daily_allowance %>

<!-- link_to 'Show', @daily_allowance %> |-->
<%= link_to 'Show', report_daily_allowance_path(@report,@daily_allowance) %> |
<!-- link_to 'Back', daily_allowances_path %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>

<script>
$(function () {
  $("#move").click( function() {
    // テキストボックスへ値を設定します
    $("#daily_allowance_moving_allowance").val(Math.floor("<%= @report.distance %>"/10)*100);
  });
});
</script>

