<p id="notice"><%= notice %></p>

<h1>Daily Allowances</h1>

<table>
  <thead>
    <tr>
      <th>Report</th>
      <th>Trip date</th>
      <th>Holiday</th>
      <th>Fixed</th>
      <th>Fixed over</th>
      <th>Moving allowance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_allowances.each do |daily_allowance| %>
      <tr>
        <td><%= daily_allowance.report %></td>
        <td><%= daily_allowance.trip_date %></td>
        <td><%= daily_allowance.holiday %></td>
        <td><%= daily_allowance.fixed %></td>
        <td><%= daily_allowance.fixed_over %></td>
        <td><%= daily_allowance.moving_allowance %></td>
        <td><%= link_to 'Show', daily_allowance %></td>
        <td><%= link_to 'Edit', edit_daily_allowance_path(daily_allowance) %></td>
        <td><%= link_to 'Destroy', daily_allowance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daily Allowance', new_daily_allowance_path %>
