<p id="notice"><%= notice %></p>

<p>
  <strong>Report:</strong>
  <%= @daily_allowance.report %>
</p>

<p>
  <strong>Trip date:</strong>
  <%= @daily_allowance.trip_date %>
</p>

<p>
  <strong>Holiday:</strong>
  <%= @daily_allowance.holiday %>
</p>

<p>
  <strong>Fixed:</strong>
  <%= @daily_allowance.fixed %>
</p>

<p>
  <strong>Fixed over:</strong>
  <%= @daily_allowance.fixed_over %>
</p>

<p>
  <strong>Moving allowance:</strong>
  <%= @daily_allowance.moving_allowance %>
</p>

<!-- link_to 'Edit', edit_daily_allowance_path(@daily_allowance) %> |-->
<%= link_to 'Edit', edit_report_daily_allowance_path(@report,@daily_allowance) %> |
<!-- link_to 'Back', daily_allowances_path %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>
