<%= form_with(model: gradelist, local: true) do |form| %>
  <% if gradelist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gradelist.errors.count, "error") %> prohibited this gradelist from being saved:</h2>

      <ul>
      <% gradelist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :grade %>
    <%= form.number_field :grade, id: :gradelist_grade %>
  </div>

  <div class="field">
    <%= form.label :daily_allowance %>
    <%= form.number_field :daily_allowance, id: :gradelist_daily_allowance %>
  </div>

  <div class="field">
    <%= form.label :accommodation %>
    <%= form.number_field :accommodation, id: :gradelist_accommodation %>
  </div>
  
  <div class="field">
    <%= form.label :vehicle_night %>
    <%= form.number_field :vehicle_night, id: :gradelist_vehicle_night %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
