<p id="notice"><%= notice %></p>

<h1>Gradelists</h1>

<table>
  <thead>
    <tr>
      <th>Grade</th>
      <th>Fixed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gradelists.each do |gradelist| %>
      <tr>
        <td><%= gradelist.grade %></td>
        <td><%= gradelist.fixed %></td>
        <td><%= link_to 'Show', gradelist %></td>
        <td><%= link_to 'Edit', edit_gradelist_path(gradelist) %></td>
        <td><%= link_to 'Destroy', gradelist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gradelist', new_gradelist_path %>
