<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @gradelist.grade %>
</p>

<p>
  <strong>Fixed:</strong>
  <%= @gradelist.fixed %>
</p>

<%= link_to 'Edit', edit_gradelist_path(@gradelist) %> |
<%= link_to 'Back', gradelists_path %>
