<div class="modal-dialog">
  <div class="modal-content">

    <!--= form_with(model: transport_cost, local: true) do |form| %>-->
    <%= form_with(model: [@report, @transport_cost] , local: true) do |form| %>
      <% if @transport_cost.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@transport_cost.errors.count, "error") %> prohibited this transport_cost from being saved:</h2>
    
          <ul>
          <% @transport_cost.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= form.label :report_id %>
        <%= form.text_field :report_id, id: :transport_cost_report_id %>
      </div>
    
      <div class="field">
        <%= form.label :move_date %>
        <%= form.date_select :move_date, id: :transport_cost_move_date %>
      </div>
    
      <div class="field">
        <%= form.label :dept %>
        <%= form.text_field :dept, id: :transport_cost_dept %>
      </div>
    
      <div class="field">
        <%= form.label :dest %>
        <%= form.text_field :dest, id: :transport_cost_dest %>
      </div>
    
      <div class="field">
        <%= form.label :root %>
        <%= form.text_field :root, id: :transport_cost_root %>
      </div>
    
      <div class="field">
        <%= form.label :access %>
        <!--%= form.text_field :access, id: :transport_cost_access %>-->
        <%= form.select :access, @access_type_lists,{} , {id: :transport_cost_access} %>
      </div>
    
      <div class="field">
        <%= form.label :etc %>
        <%= form.select :etc, @etc_list,{include_blank: "-----"}, {id: :transport_cost_etc} %>
      </div>
    
      <div class="field">
        <%= form.label :drive_type %>
        <%= form.text_field :drive_type, id: :transport_cost_drive_type %>
      </div>
    
      <div class="field">
        <%= form.label :transport_cost %>
        <%= form.number_field :transport_cost, id: :transport_cost_transport_cost %>
      </div>
    
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>

  </div>
</div>