<h1>Editing Transport Cost</h1>

<%= render 'form', transport_cost: @transport_cost %>

<!-- link_to 'Show', @transport_cost %> |-->
<%= link_to 'Show', report_transport_cost_path(@report,@transport_cost) %> |
<!-- link_to 'Back', transport_costs_path %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>

<%= link_to '精算書に戻る', report_url(@transport_cost.report) %>
