<p id="notice"><%= notice %></p>

<h1>Transport Costs</h1>

<table>
  <thead>
    <tr>
      <th>Report</th>
      <th>Move date</th>
      <th>Dept</th>
      <th>Dest</th>
      <th>Root</th>
      <th>Access</th>
      <th>Etc</th>
      <th>Drive type</th>
      <th>Transport cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transport_costs.each do |transport_cost| %>
      <tr>
        <td><%= transport_cost.report %></td>
        <td><%= transport_cost.move_date %></td>
        <td><%= transport_cost.dept %></td>
        <td><%= transport_cost.dest %></td>
        <td><%= transport_cost.root %></td>
        <td><%= transport_cost.access %></td>
        <td><%= transport_cost.ETC %></td>
        <td><%= transport_cost.drive_type %></td>
        <td><%= transport_cost.transport_cost %></td>
        <td><%= link_to 'Show', transport_cost %></td>
        <td><%= link_to 'Edit', edit_transport_cost_path(transport_cost) %></td>
        <td><%= link_to 'Destroy', transport_cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transport Cost', new_transport_cost_path %>
