<p id="notice"><%= notice %></p>

<p>
  <strong>Report:</strong>
  <%= @transport_cost.report %>
</p>

<p>
  <strong>Move date:</strong>
  <%= @transport_cost.move_date %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @transport_cost.dept %>
</p>

<p>
  <strong>Dest:</strong>
  <%= @transport_cost.dest %>
</p>

<p>
  <strong>Root:</strong>
  <%= @transport_cost.root %>
</p>

<p>
  <strong>Access:</strong>
  <%= @transport_cost.access %>
</p>

<p>
  <strong>ETC:</strong>
  <%= @transport_cost.etc %>
</p>

<p>
  <strong>Drive type:</strong>
  <%= @transport_cost.drive_type %>
</p>

<p>
  <strong>Transport cost:</strong>
  <%= @transport_cost.transport_cost %>
</p>

<!-- link_to 'Edit', edit_transport_cost_path(@transport_cost) %> |-->
<%= link_to 'Edit', edit_report_transport_cost_path(@report,@transport_cost) %> |
<!-- link_to 'Back', transport_costs_path %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>