<%= form_with(model: grade_fixed, local: true) do |form| %>
  <% if grade_fixed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grade_fixed.errors.count, "error") %> prohibited this grade_fixed from being saved:</h2>

      <ul>
      <% grade_fixed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fixed_id %>
    <%= form.text_field :fixed_id, id: :grade_fixed_fixed_id %>
  </div>

  <div class="field">
    <%= form.label :grade_id %>
    <%= form.text_field :grade_id, id: :grade_fixed_grade_id %>
  </div>

  <div class="field">
    <%= form.label :change_date %>
    <%= form.date_select :change_date, id: :grade_fixed_change_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
