<p id="notice"><%= notice %></p>

<h1>Grade Fixeds</h1>

<table>
  <thead>
    <tr>
      <th>Fixed</th>
      <th>Grade</th>
      <th>Change date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grade_fixeds.each do |grade_fixed| %>
      <tr>
        <td><%= grade_fixed.fixed %></td>
        <td><%= grade_fixed.grade %></td>
        <td><%= grade_fixed.change_date %></td>
        <td><%= link_to 'Show', grade_fixed %></td>
        <td><%= link_to 'Edit', edit_grade_fixed_path(grade_fixed) %></td>
        <td><%= link_to 'Destroy', grade_fixed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grade Fixed', new_grade_fixed_path %>
