<p id="notice"><%= notice %></p>

<p>
  <strong>Fixed:</strong>
  <%= @grade_fixed.fixed %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @grade_fixed.grade %>
</p>

<p>
  <strong>Change date:</strong>
  <%= @grade_fixed.change_date %>
</p>

<%= link_to 'Edit', edit_grade_fixed_path(@grade_fixed) %> |
<%= link_to 'Back', grade_fixeds_path %>
