<%= form_with(model: order, local: true) do |form| %>
<!-- form_for[@report,@order] do |form| %>-->
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :order_user_id %>
  </div>

  <div class="field">
    <%= form.label :udno %>
    <%= form.text_field :udno, id: :order_udno %>
  </div>

  <div class="field">
    <%= form.label :skno %>
    <%= form.text_field :skno, id: :order_skno %>
  </div>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name, id: :order_product_name %>
  </div>

  <div class="field">
    <%= form.label :customer %>
    <%= form.text_field :customer, id: :order_customer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
