<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<h4>検索</h4>

<%= search_form_for @search do |f| %>
<div class = "container">
  <div class="row">
    <div class="form-group">
      <div class="col-md-4">
        <%= f.label :udno_cont, "UDNO" %>
        <%= f.text_field :udno_cont, class: "form-control" %>
        <%= f.label :skno_cont, "SKNO" %>
        <%= f.text_field :skno_cont, class: "form-control" %>
        <%= f.label :product_name_cont, "物件名" %>
        <%= f.text_field :product_name_cont, class: "form-control" %>
        <%= f.label :customer_cont, "受注先" %>
        <%= f.text_field :customer_cont, class: "form-control" %>
      </div>
    </div>
  </div>
</div>
</br>
<div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>氏名</th>
      <th>UDNO</th>
      <th>SKNO</th>
      <th>物件名</th>
      <th>受注先</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user %></td>
        <td><%= order.udno %></td>
        <td><%= order.skno %></td>
        <td><%= order.product_name %></td>
        <td><%= order.customer %></td>
        <td><%= link_to 'Show', order %></td>
        <!--<td> link_to 'Show', report_order_url(@report,order) %></td>-->
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <!--<td> link_to 'Edit', edit_report_order_path(order) %></td>-->
        <td><% link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <!--<td> link_to 'Destroy', report_order_path(@report,other) , method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_order_path %>
<!-- link_to 'New Order', new_report_order_path %>-->
