<%= search_form_for(@seach, url: search_orders_path, html: { method: :get, class: 'form-horizontal', role: 'form' }) do |f| %>
  <%= render 'search_form', f: f %>
<% end %>

<table class="table table-list ">
  <thead>
    <tr>
      <th>UDNO</th>
      <th>SKNO</th>
      <th>物件名</th>
      <th>受注先</th>
    </tr>
  </thead>
  <% @orders.each do |order| %>
      <tbody>
      <tr>
        <td><%= order.udno %> </td>
        <td><%= order.skno %></td>
        <td><%= order.product_name %></td>
        <td><%= order.customer %></td>
      </tr>
      </tbody>
  <% end %>
</table>