<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Udno:</strong>
  <%= @order.udno %>
</p>

<p>
  <strong>Skno:</strong>
  <%= @order.skno %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @order.product_name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer %>
</p>

<!-- link_to 'Edit', edit_order_path(@order) %> |-->
<%= link_to 'Edit', edit_order_path(@order) %>
<!-- link_to 'Back', orders_path %>-->
<%= link_to 'Back', orders_path %>