<%= form_with(model: calendar, local: true) do |form| %>
  <% if calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
      <% calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :work_date %>
    <%= form.date_select :work_date, id: :calendar_work_date %>
  </div>

  <div class="field">
    <%= form.label :holiday %>
    <%= form.number_field :holiday, id: :calendar_holiday %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
