<p id="notice"><%= notice %></p>

<p>
  <strong>Work date:</strong>
  <%= @calendar.work_date %>
</p>

<p>
  <strong>Holiday:</strong>
  <%= @calendar.holiday %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
