<!--%= form_with(model: moving_route, local: true) do |form| %>-->
<%= form_with(model: [@report, @moving_time, @moving_route] , local: true) do |form| %>
  <% if @moving_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moving_route.errors.count, "error") %> prohibited this moving_route from being saved:</h2>

      <ul>
      <% @moving_route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :moving_time_id %>
    <%= form.text_field :moving_time_id, id: :moving_route_moving_time_id %>
  </div>

  <div class="field">
    <%= form.label :dest_time %>
    <%= form.datetime_select :dest_time, id: :moving_route_dest_time %>
  </div>

  <div class="field">
    <%= form.label :dept_time %>
    <%= form.datetime_select :dept_time, id: :moving_route_dept_time %>
  </div>

  <div class="field">
    <%= form.label :point %>
    <%= form.text_field :point, id: :moving_route_point %>
  </div>
  
  <div class="field">
    <%= form.label :dest %>
    <%= form.text_field :dest, id: :moving_route_dest %>
  </div>
  
  <div class="field">
    <%= form.label :access %>
    <%= form.text_field :access, id: :moving_route_access %>
  </div>
  
  <div class="field">
    <%= form.label :exclusion_type %>
    <%= form.text_field :exclusion_type, id: :moving_route_exclusion_type %>
  </div>
  
  <div class="field">
    <%= form.label :drive_type %>
    <%= form.text_field :drive_type, id: :moving_route_drive_type %>
  </div>
  
  <div class="field">
    <%= form.label :transport_money %>
    <%= form.number_field :transport_money, id: :moving_route_transport_money %>
  </div>

  <div class="field">
    <%= form.label :travel_hour %>
    <%= form.number_field :travel_hour, id: :moving_route_travel_hour %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
