<h1>Editing Moving Route</h1>

<%= render 'form', moving_route: @moving_route %>

<!--%= link_to 'Show', @moving_route %> |-->
<!--%= link_to 'Show', report_moving_time_path(@moving_time,@moving_route) %> |-->
<!--%= link_to 'Back', moving_routes_path %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>
<!--%= link_to 'Back', report_moving_times_url(params[:moving_time_id]) %>-->
