<p id="notice"><%= notice %></p>

<h1>Moving Routes</h1>

<table>
  <thead>
    <tr>
      <th>Moving time</th>
      <th>Dest time</th>
      <th>Dept time</th>
      <th>Point</th>
      <th>Travel hour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moving_routes.each do |moving_route| %>
      <tr>
        <td><%= moving_route.moving_time %></td>
        <td><%= moving_route.dest_time %></td>
        <td><%= moving_route.dept_time %></td>
        <td><%= moving_route.point %></td>
        <td><%= moving_route.travel_hour %></td>
        <!--<td>%= link_to 'Show', moving_route %></td>-->
        <!--<td>%= link_to 'Edit', edit_moving_route_path(moving_route) %></td>-->
        <!--<td>%= link_to 'Destroy', moving_route, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--%= link_to 'New Moving Route', new_moving_route_path %>-->
