<p id="notice"><%= notice %></p>

<p>
  <strong>Moving time:</strong>
  <%= @moving_route.moving_time %>
</p>

<p>
  <strong>Dest time:</strong>
  <%= @moving_route.dest_time %>
</p>

<p>
  <strong>Dept time:</strong>
  <%= @moving_route.dept_time %>
</p>

<p>
  <strong>Point:</strong>
  <%= @moving_route.point %>
</p>

<p>
  <strong>Travel hour:</strong>
  <%= @moving_route.travel_hour %>
</p>

<!--%= link_to 'Edit', edit_moving_route_path(@moving_route) %> |-->
<%= link_to 'Edit', edit_report_moving_time_moving_route_path(@moving_time,@moving_route) %> |
<!--%= link_to 'Back', moving_routes_path %>-->
<!--%= link_to 'Back', report_moving_time_url(params[:moving_time_id]) %>-->
<%= link_to 'Back', report_url(params[:report_id]) %>
