<%= form_with(model: transfer, local: true) do |form| %>
  <% if transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :transfer_user_id %>
  </div>

  <div class="field">
    <%= form.label :grade_id %>
    <%= form.text_field :grade_id, id: :transfer_grade_id %>
  </div>

  <div class="field">
    <%= form.label :transfer_type %>
    <%= form.text_field :transfer_type, id: :transfer_transfer_type %>
  </div>

  <div class="field">
    <%= form.label :transfer_date %>
    <%= form.date_select :transfer_date, id: :transfer_transfer_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
