<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @transfer.user %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @transfer.grade %>
</p>

<p>
  <strong>Transfer type:</strong>
  <%= @transfer.transfer_type %>
</p>

<p>
  <strong>Transfer date:</strong>
  <%= @transfer.transfer_date %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
