<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :order_id %>
    <%= form.number_field :order_id, id: :report_order_id %>
  </div>
  
  <div class="field">
    <%= form.label :purpose %>
    <%= form.text_field :purpose, id: :report_purpose %>
  </div>
  
  <div class="field">
    <%= form.label :bussiness_trip %>
    <%= form.text_field :bussiness_trip, id: :report_bussiness_trip %>
  </div>
  
  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :report_address %>
  </div>
  
  <div class="field">
    <%= form.label :distance %>
    <%= form.number_field :distance, id: :report_distance %>
  </div>

  <div class="field">
    <%= form.label :apply_date %>
    <%= form.date_select :apply_date, id: :report_apply_date %>
  </div>

  <div class="field">
    <%= form.label :create_date %>
    <%= form.date_select :create_date, id: :report_create_date %>
  </div>

  <div class="field">
    <%= form.label :adjusted_amount %>
    <%= form.number_field :adjusted_amount, id: :report_adjusted_amount %>
  </div>

  <div class="field">
    <%= form.label :tmp_money %>
    <%= form.number_field :tmp_money, id: :report_tmp_money %>
  </div>

  <div class="field">
    <%= form.label :return_money %>
    <%= form.number_field :return_money, id: :report_return_money %>
  </div>

  <div class="field">
    <%= form.label :add_money %>
    <%= form.number_field :add_money, id: :report_add_money %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
