<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<table>
  <thead>
    <tr>
      <th>Apply date</th>
      <th>Create date</th>
      <th>Adjusted amount</th>
      <th>Tmp money</th>
      <th>Return money</th>
      <th>Add money</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.apply_date %></td>
        <td><%= report.create_date %></td>
        <td><%= report.adjusted_amount %></td>
        <td><%= report.tmp_money %></td>
        <td><%= report.return_money %></td>
        <td><%= report.add_money %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr><%= debug report.inspect %></tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>

