<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>氏名</th>
          </tr>
        </thead>
        <tbody>
          <td><di><%= @user.emp_name%></di></td>
        </tbody>
      </table>
    
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>UDNO</th>
            <th>SKNO</th>
            <th>客先</th>
          </tr>
        </thead>
        <tbody>
          <td><di><%= @order.udno %></di></td>
          <td><di><%= @order.skno %></di></td>
          <td><di><%= @order.customer %></di></td>
        </tbody>
      </table>
      
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>出張先</th>
            <th>出張先住所</th>
            <th>直線距離</th>
            <th>出張用件</th>
          </tr>
        </thead>
        <tbody>
          <td><di><%= @report.bussiness_trip %></di></td>
          <td><di><%= @report.address %></di></td>
          <td><di><%= @report.distance %>Km</di></td>
          <td><di><%= @report.purpose %></di></td>
        </tbody>
      </table>
      
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="sortable">
        
        <h3 id="transport_cost">交通費</h3>
        <table class="table">
            <thead>
              <tr>
                <th>移動日</th>
                <th>起点名</th>
                <th>終着点</th>
                <!--<th>移動経路</th>-->
                <th>移動方法</th>
                <th>ETC</th>
                <th>交通費</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
                    <% @report.transport_costs.each do |t| %>
            <tbody>
                <tr>
                  <td><div><%= t.move_date %></div></td>
                  <td><div><%= t.dept %></div></td>
                  <td><div><%= t.dest %></div></td>
                  <!--<td><div><%= t.root %></div></td>-->
                  <td><div><%= t.access %></div></td>
                  <!--<td><div>%= t.exclusion_type %></div></td>-->
                  <!--<td><div>%= t.drive_type %></div></td>-->
                  <td><div><%= t.etc %></div></td>
                  <td align="right"><div><%= number_with_delimiter(t.transport_cost) %></div></td>
                  <td><%= link_to 'Edit', edit_report_transport_cost_path(t.report_id,t.id) %> <%= link_to 'Destroy', report_transport_cost_path(t.report_id,t.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><b>計</b></td>
                  <td align="right"><div><%= number_with_delimiter(@report.transport_costs.sum(:transport_cost)) %></div></td>
                </tr>
            </tbody>
        </table>
        <div class="pull-right">
          <h4>交通費　<%= number_with_delimiter(@transport_cost_total) %><h4>
        </div>
        
        <%= link_to '交通費追加', new_report_transport_cost_url(@report.id), remote: true,class: "btn btn-lg btn-primary" %> 
        
        <div class="modal fade" id="transport_cost-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
        
      <div id="allowance"><h3>日当</h3></div>
        <table class="table">
            <thead>
              <tr>
                <th>日付</th>
                <th>金額</th>
                <th></th>
              </tr>
            </thead>
            
            <tbody>
              <% @report.daily_costs.where(expenses_type: '日当').each do |d| %>
                <tr>
                  <td><div><%= d.daily_date %></div></td>
                  <td><div><%= d.daily_cost %></div></td>
                  <td><%= link_to 'Edit', edit_report_daily_cost_path(d.report_id,d.id) %> <%= link_to 'Destroy', report_daily_cost_path(d.report_id,d.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
              <tr>
                <td></td>
                <td><b>計</b></td>
                <td align="right"><div><%= number_with_delimiter(@report.daily_costs.where(expenses_type: '日当').sum(:daily_cost)) %></div></td>
              </tr>
            </tbody>
        </table>
        <div class="pull-right">
          <h4>経費 　<%= number_with_delimiter(@other_total) %></h4>
        </div>
        
        <%= link_to '日当追加', new_report_daily_cost_url(@report.id) ,class: "btn btn-lg btn-primary"%> 
        
        <div id="allowance"><h3>日当割増</h3></div>
        <table class="table">
            <thead>
              <tr>
                <th>日付</th>
                <th>出発時刻</th>
                <th>到着時刻</th>
                <th>金額</th>
                <th></th>
              </tr>
            </thead>
            
            <tbody>
              <% @report.daily_costs.where(expenses_type: '日当割増').each do |d| %>
                <tr>
                  <td><div><%= d.daily_date %></div></td>
                  <td><div><%= d.dept_time.strftime('%H:%M:%S') %></div></td>
                  <td><div><%= d.dest_ime.strftime('%H:%M:%S') %></div></td>
                  <td><div><%= d.daily_cost %></div></td>
                  <td><%= link_to 'Edit', edit_report_daily_cost_path(d.report_id,d.id) %> <%= link_to 'Destroy', report_daily_cost_path(d.report_id,d.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
              <tr>
                <td></td>
                <td><b>計</b></td>
                <td align="right"><div><%= number_with_delimiter(@report.daily_costs.where(expenses_type: '日当割増').sum(:daily_cost)) %></div></td>
              </tr>
            </tbody>
        </table>
        <div class="pull-right">
          <h4>経費 　<%= number_with_delimiter(@other_total) %></h4>
        </div>
        
        <%= link_to '日当割増追加', new_report_daily_cost_url(@report.id),class: "btn btn-lg btn-primary" %> 
        
        <div id="allowance"><h3>宿泊費</h3></div>
        <table class="table">
            <thead>
              <tr>
                <th>日付</th>
                <th>出発時刻</th>
                <th>到着時刻</th>
                <th>都市名</th>
                <th>金額</th>
                <th></th>
              </tr>
            </thead>
            
            <tbody>
              <% @report.daily_costs.where(expenses_type: '宿泊費').each do |d| %>
                <tr>
                  <td><div><%= d.daily_date %></div></td>
                  <td><div><%= d.dept_time.strftime('%H:%M:%S') %></div></td>
                  <td><div><%= d.dest_ime.strftime('%H:%M:%S') %></div></td>
                  <td><div><%= d.city_name %></div></td>
                  <td><div><%= d.daily_cost %></div></td>
                  <td><%= link_to 'Edit', edit_report_daily_cost_path(d.report_id,d.id) %> <%= link_to 'Destroy', report_daily_cost_path(d.report_id,d.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
              <tr>
                <td></td>
                <td><b>計</b></td>
                <td align="right"><div><%= number_with_delimiter(@report.daily_costs.where(expenses_type: '宿泊費').sum(:daily_cost)) %></div></td>
              </tr>
            </tbody>
        </table>
        <div class="pull-right">
          <h4>経費 　<%= number_with_delimiter(@other_total) %></h4>
        </div>
        
        <%= link_to '宿泊費追加', new_report_daily_cost_url(@report.id),class: "btn btn-lg btn-primary" %>
        
      <div id="allowance"><h3>移動手当</h3></div>
        <table class="table">
            <thead>
              <tr>
                <th>日付</th>
                <th>経路</th>
                <th>移動時間</th>
                <th>金額</th>
                <th></th>
              </tr>
            </thead>
            
            <tbody>
              <% @report.daily_costs.where(expenses_type: '移動手当').each do |d| %>
                <tr>
                  <td><div><%= d.daily_date %></div></td>
                  <td><div><%= d.course %></div></td>
                  <td><div><%= d.travel_hour %></div></td>
                  <td><div><%= d.daily_cost %></div></td>
                  <td><%= link_to 'Edit', edit_report_daily_cost_path(d.report_id,d.id) %> <%= link_to 'Destroy', report_daily_cost_path(d.report_id,d.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
              <tr>
                <td></td>
                <td><b>計</b></td>
                <td align="right"><div><%= number_with_delimiter(@report.daily_costs.where(expenses_type: '移動手当').sum(:daily_cost)) %></div></td>
              </tr>
            </tbody>
        </table>
        <div class="pull-right">
          <h4>経費 　<%= number_with_delimiter(@other_total) %></h4>
        </div>
        
        <%= link_to '移動手当追加', new_report_daily_cost_url(@report.id), remote: true, class: "btn btn-lg btn-primary" %> 
        
        <div id="cost-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        
        <div id="other"><h3>雑費</h3></div>
        <table class="table">
            <thead>
              <tr>
                <th>支払日</th>
                <th>内容</th>
                <th>金額</th>
                <th></th>
              </tr>
            </thead>
            
            <tbody>
              <% @report.others.each do |o| %>
                <tr>
                  <td><div><%= o.payment_date %></div></td>
                  <td><div><%= o.content %></div></td>
                  <td align="right"><div><%= number_with_delimiter(o.other_money) %></div></td>
                  <td><%= link_to 'Edit', edit_report_other_path(o.report_id,o.id) %> <%= link_to 'Destroy', report_other_path(o.report_id,o.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
              <tr>
                <td></td>
                <td><b>計</b></td>
                <td align="right"><div><%= number_with_delimiter(@report.others.sum(:other_money)) %></div></td>
              </tr>
            </tbody>
        </table>
        <div class="pull-right">
          <h4>雑費　<%= number_with_delimiter(@other_total) %></h4>
        </div>
        
        <%= link_to '雑費追加', new_report_other_url(@report.id),class: "btn btn-lg btn-primary" %> 
        
      </div>
    </div>
    
    <div class="col-md-6">
    
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>精算額</th>
            <th>仮払金</th>
            <th>ETC</th>
            <th>航空券</th>
          </tr>
        </thead>
        <tbody>
          <td><di><%= number_with_delimiter(@adjusted_amount) %></di></td>
          <td><di><%= number_with_delimiter(@report.tmp_money) %></di></td>
          <td><di><%= number_with_delimiter(@etc_total) %></di></td>
          <td><di><%= number_with_delimiter(@airticket_total) %></di></td>
        </tbody>
      </table>
      
          <table class="table table-bordered">
        <thead>
          <tr>
            <th>返戻金</th>
            <th>追加支給</th>
          </tr>
        </thead>
        <tbody>
          <td><di><%= number_with_delimiter(@return_money) %></di></td>
          <td><di><%= number_with_delimiter(@add_money) %></di></td>
        </tbody>
      </table>
      
    </div>
    <div class="col-md-6"></div>
  
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="pull-right">
      <%= link_to "帳票",{ :format => "pdf" }, :class => 'btn btn-primary' %>
      <%= link_to 'Edit', edit_report_path(@report) %> 
      <%= link_to 'Back', reports_path %>
    </div>
  </div>
</div>

