<%= form_with(model: etc_list, local: true) do |form| %>
  <% if etc_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(etc_list.errors.count, "error") %> prohibited this etc_list from being saved:</h2>

      <ul>
      <% etc_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :etc_list_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
