<p id="notice"><%= notice %></p>

<h1>Etc Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etc_lists.each do |etc_list| %>
      <tr>
        <td><%= etc_list.name %></td>
        <td><%= link_to 'Show', etc_list %></td>
        <td><%= link_to 'Edit', edit_etc_list_path(etc_list) %></td>
        <td><%= link_to 'Destroy', etc_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etc List', new_etc_list_path %>
